<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STALKER APP</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  </head>
  <body>


    <div class="container-fluid">


    <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-logo" href="#">stalker app</a>
    </div>


    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#">start stalking</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li class="right"><a href="/users/<%= user.id %>">profile page</a></li>
        <li class="right"><a href="/logout">logout</a></li>
      </ul>

    </div>
  </div>
</nav>



<h1>Hi <%= (user.last_name)?(user.first_name+" "+user.last_name):(user.first_name) %>!</h1>



<!-- HTML for 3 even width columns responsive -->

        <div class="panel_row">



<!-- User panels -->

          <% panels.forEach(function(el){ %>
            <div class="panel">
              <embed class="embedded_panel" src="/<%= el.type %>/<%= el.target_id %>"></embed>
            </div>
          <% }) %>



<!-- This is empty - starting position - header text to be replaced dynamically- 01 -->
      <div class="panel">
        <div class="panel_header">click on the + sign to start</div>
        <div class="panel_content">
        <div class="plus_sign">+</div>
      </div>
    </div>





  <!-- Panel 1 - slide out menu with username login -->
                                      <!-- <div class="slideout_menu_container">
                                      <ul class="slideout_menu">
                                        <li>
                                          <a href="#">Facebook</a>
                                          <ul class="slideout_submenu">
                                            <li>
                                              <form>
                                              <br>
                                              <input type="text" value="">
                                              <br><br>
                                              <input type="submit" value="Submit">
                                              </form>
                                              <br>
                                            </li>
                                          </ul>
                                        </li>
                                        </div>


                                        <li>
                                          <a href="#">Twitter</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>



                                        <li>
                                          <a href="#">Google +</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>


                                        <li>
                                          <a href="#">YouTube</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>




                                        <li>
                                          <a href="#">Vimeo</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>




                                        <li>
                                          <a href="#">Vine</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>




                                        <li>
                                          <a href="#">Instagram</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>




                                        <li>
                                          <a href="#">Pinterest</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>




                                        <li>
                                          <a href="#">Flikr</a>
                                          <ul class="slideout_submenu">
                                            <li><a href="#">field</a></li>
                                            <li><a href="#">enter button</a></li>
                                          </ul>
                                        </li>
                                          </ul>
                                    </div> -->
            <!-- /end slideout menu -->



<!-- This is the footer -->

<div class="footer">
<span class="footer_elements">&copy; the best team ever
              <a href="#"><i id="social" class="fa fa-facebook-square fa-3x"></i></a>
	            <a href="#"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>
	            <a href="#"><i id="social" class="fa fa-google-plus-square fa-3x"></i></a>
</span>
</div>




</div>
  </body>
</html>
