<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hi</title>
  </head>
  <body>
    <p>Hi <%= first_name+last_name %>!</p>
    <ul>
      <li><a href="/users/<%= id %>">View my info</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </body>
</html>
