<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


  </head>
  <body>

    <div class="container-fluid">


    <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-logo" href="#">stalker app</a>
    </div>


    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>

      </ul>

    </div>
  </div>
</nav>


<div class="omb_login">
    	<h1 class="omb_authTitle">Login or <a href="/users/new" class="signup_link_bg">Sign up</a></h1>


      <% for( var i = 0; i < errmsgs.length; i++ ){%>
        <p><%= errmsgs[i] %></p>
      <% } %>



		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="/auth/twitter" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="/auth/google" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
			    <form class="omb_loginForm" action="/login" method="post" autocomplete="off">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" name="email" placeholder="email address">
					</div>
					<span class="help-block"></span>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" placeholder="password">
					</div>
                    <!-- <span class="help-block">Password error</span> -->
                    <p>&nbsp;</p>
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="name" value="login">Login</button>
				</form>
			</div>
    	</div>
		<!-- <div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Remember Me
				</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<p class="omb_forgotPwd">
					<a href="#">Forgot password?</a>
				</p>
			</div>
		</div> -->
	</div>








    <% for( var i = 0; i < errmsgs.length; i++ ){%>
      <p><%= errmsgs[i] %></p>
    <% } %>
    <form action="/login" method="post">
      <div><label for="email">Email</label><input type="text" name="email"></div>
      <div><label for="password">Password</label><input type="password" name="password"></div>
      <div><input type="submit" name="name" value="login">
    </form>
    <p>or <a href="/users/new">Sign Up</a></p>
    <p>or <a href="/auth/facebook">Sign Up with Facebook</a></p>
    <p>or <a href="/auth/google">Sign Up with Google</a></p>
    <p>or <a href="/auth/twitter">Sign Up with Twitter</a></p>





    <!-- This is the footer -->

    <div class="footer">
    <span class="footer_elements">&copy; the best team ever
                  <a href="#"><i id="social" class="fa fa-facebook-square fa-3x"></i></a>
    	            <a href="#"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>
    	            <a href="#"><i id="social" class="fa fa-google-plus-square fa-3x"></i></a>
    </span>
    </div>





    </div>
  </body>
</html>
