.googleplus{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  overflow: scroll;
  background-color: rgb(236,236,236);
  font-family: helvetica;
}

.panel-heading{
  font-size: 24px;
  padding: 3px 15px;
  height: 63px;
}

.feed_time{
  margin: 1px;
  text-align: right;
  font-size: 0.8em;
}

#avatar{
  height:55px;
  width:55px;
  position: relative;
  border: 5px solid white;
  border-radius: 10px;

}

#postPic{
  width:150px;
  height:150px;
  float:left;
  margin-right: 15px;
}

#postVid{
  width:150px;
  height:100px;
  float: left;
  margin-right: 15px;
}

.panel-default{
  margin: 5px;
}

#name{

  position: relative;
  display: inline-block;

}
