body{
  background-image: url(../images/background_gray_02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 5px;
}

a {
    color: #ffffff !important;
    text-decoration: none !important;
}
.navbar-default {
  background:transparent;
  border: 0px;
}

h1{
  text-align: center;
  margin: 20px 0 30px 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 5px;
}
.container-fluid{
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.panel{
  position: relative;
  display: inline-block;
  border: 2px;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
      -pie-background:  rgba(255, 255, 255, 0);
      behavior: url(PIE.htc);
}

.embedded_panel{
  width: 370px;
  height: 370px;
}
.panel_header{
  background: rgba(255, 255, 255, 0.5);
    -pie-background:  rgba(255, 255, 255, 0.5);
    behavior: url(PIE.htc);
  width: 370px;
  height: 25px;
  border: 2px solid white;
  position: relative;
  display: block;
  float:none;
  color:black;
  font-size: 12px;
  text-align: center;
  margin-bottom: -2px !important;
  padding: 5px;
  z-index: 3;
}
.column{
  text-align: center;
}
.empty_panel{
  position: relative;
  background: rgba(255, 255, 255, 0.5);
      -pie-background:  rgba(255, 255, 255, 0.5);
      behavior: url(PIE.htc);
  width: 370px;
  height: 370px;
  border: 2px solid;
  position: relative;
  display: block;
  float:none;
  font-size: 12px;
  text-align: left;
  z-index: 2;
}
.clickable{
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
.hiddenMenu{
  display: none;
}
.clickable:hover{
  background-color: rgba(255, 0, 0, 0.5);
}
.centered{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  cursor: pointer;
}
.add_menu_row{
  font-size: 20px;
  padding: 3px;
}
.instruction{
  width:300px;
  height:100px;
}
.instruction img{
  width:100%;
}
.add_menu_row input{
  color: black;
  font-size: 15px;
}
.slideout_menu_container{
  border: 2px solid;
  background-color: #ffffff;
  width: 400px;
  height: 400px;
}


.slideout_menu{
  list-style: none;
}



/*This is the top nav bar*/





.navbar-logo {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 10px;
    padding-right: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    float:left;
  }


  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #555;
      background-color: #3b3b3b;
  }


  .menu_links {
      color: #ffffff;
      font-size: 12px;
      text-decoration: underline;
  }


  li:last-child{
    float: right !important;
  }






/*This is the main content styling*/



/*This is the login*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}
}



/*This is the footer with dynamic social media icons*/

footer{
  padding: 30px;
  text-align: right;
  background: transparent;
}

.footer_elements{
  line-height: 200%;
}


#social:hover {
    			-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}
