<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STALKER APP</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>



  <body>


    <div class="container-fluid">




      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-logo" href="#">stalker app</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <!-- <li><a href="#">home<span class="sr-only">(current)</span></a></li> -->
            <li class="active"><a href="#">start stalking</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
            <li class="right"><a href="/logout">logout</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <h1>Sign Up</h1>
    <% for( var i = 0; i < errmsgs.length; i++ ){%>
      <p><%= errmsgs[i] %></p>
    <% } %>


    <div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">


    <form class="omb_loginForm" action="/users" method="post">


      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="first_name" placeholder="first name">
      </div>
      <p>&nbsp;</p>

      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="last_name" placeholder="last name">
      </div>
        <p>&nbsp;</p>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" class="form-control" name="email" placeholder="email address">
    </div>
    <p>&nbsp;</p>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input  type="password" class="form-control" name="password" placeholder="password">
    </div>
    <p>&nbsp;</p>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input  type="password" class="form-control" name="password_confirmation" placeholder="password confirmation">
    </div>
    <p>&nbsp;</p>

    <button class="btn btn-lg btn-primary btn-block" type="submit" name="name" value="SignUp" placeholder="Sign up">Sign up</button>
  </form>
</div>


<%#   <div><label for="password">Password</label><input type="password" name="password"></div>
      <div><label for="password_confirmation">Password Confirmation</label><input type="password" name="password_confirmation"></div>
      <div><input type="submit" name="name" value="SignUp" placeholder="Sign up">%>




</div>

  <footer>
    <span class="footer_elements">&copy; the best team ever
      <a href="#"><i id="social" class="fa fa-facebook-square fa-3x"></i></a>
      <a href="#"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>
      <a href="#"><i id="social" class="fa fa-google-plus-square fa-3x"></i></a>
    </span>
  </footer>


  </body>
</html>
